services:
  # PHP Service
  php:
    container_name: app_php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - app_network

  # Nginx Service
  nginx:
    container_name: app_nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network

  database:
      image: mariadb:10.7.3
      container_name: app_database
      environment:
          MARIADB_ROOT_PASSWORD: root
          MARIADB_DATABASE: app
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'no'
      volumes:
          - database_data:/var/lib/mysql:rw
          - ./var/mysql:/var/www/var
      ports:
          -   "3306:3306"
      networks:
          - app_network
networks:
  app_network:
    driver: bridge

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
