services:
  # PHP Service
  php:
    container_name: app_php
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - app_network

  # Nginx Service
  nginx:
    container_name: app_nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app_network

  database:
      image: mariadb
      container_name: app_database
      environment:
          MARIADB_ROOT_PASSWORD: root
      ports:
          -   "3306:3306"
      networks:
          - app_network
  maildev:
    image: maildev/maildev:2.1.0
    command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
    restart: always
    ports:
      - "1025:25" # smtp
      - "1080:80" # web
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
