{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Modele</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <th scope="row">{{ vehicle.id }}</th>
                <td>{{ vehicle.label }}</td>
                <td><a href="{{ url('app_vehicle_show', {id: vehicle.id}) }}">Voir</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
